APP_URL='http://localhost'
APP_PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

JWT_SEED=
JWT_EXPIRES_IN=2h

# Opcionales — solo si se arranca el datasource de Mongo o de API externa para algún feature
MONGO_URL=
MONGO_DB_NAME=
EXTERNAL_API_URL=
EXTERNAL_API_KEY=